<!DOCTYPE html>
<html lang="und">
<head>
    <link rel="canonical" href="{{ base_url }}{{ info['id'] }}" />
    <meta property="theme-color" content="0000FF" />
    <meta property="twitter:card" content="player" />
    <meta property="twitter:site" content="{{ info['uploader'] }}" />
    <meta property="twitter:creator" content="{{ info['uploader'] }}" />
    <meta property="twitter:title" content="{{ info['uploader'] }} ({{ info['uploader_id'] }})" />
    <me ta http-equiv="refresh" content="0;url={{ base_url }}{{ info['id'] }}" />
    <meta property="twitter:player:stream:content_type" content="video/{{ info['video_ext'] }}" />
    <meta property="twitter:player:height" content="{{ info['height'] }}" />
    <meta property="twitter:player:width" content="{{ info['width'] }}" />
    <meta property="og:video" content="/proxy/{{ info['id'] }}" />
    <meta property="og:video:secure_url" content="/proxy/{{ info['id'] }}" />
    <meta property="og:video:height" content="{{ info['height'] }}" />
    <meta property="og:video:width" content="{{ info['width'] }}" />
    <meta property="og:video:duration" content="{{ info['duration'] }}">
    <meta property="og:video:type" content="video/{{ info['video_ext'] }}" />
    <meta property="twitter:image" content="0" />
    <meta property="og:title" content="{{ info['title'] }}" />
    <meta property="og:description" content="{{ info['description'] }}" />
    <meta property="og:site_name" content="FixYouTube" />
</head>
<body></body>
</html>
